{% extends 'base.html' %}
{% load static %}
{% block css %}
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<link rel="stylesheet" type="text/css" href="{% static 'css/ladders/detail.css' %}" />
{% endblock css %}

{% block content %}
<div class="bodyrem">
    <div class="header">
        <h1>Hello {{obj.user_name}}</h1>
    </div>
    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>{{obj.title}}</h2>
                <p>{{obj.created_at}}</p>
                <hr>
                <p><b>Description: </b>{{obj.description}}</p>
                <div class="fakeimg d-flex justify-content-center" >
                    {% if obj.content_type == 'video/mp4' %}
                    <video id="playvideo" width="100%" height="100%" poster="{{obj.get_thumbnail}}" style="display: none;" controls>
                        <source src="{{obj.file.url}}" type="video/mp4">
                    </video>
                    <div onclick="myfunc()" id="playvideoopp" class="containerimg" style="position: relative;width: 100%;">
                        <img src="{{obj.get_thumbnail}}" alt="Girl in a jacket" width="100%" height="100%" style="width: 100%;height: auto;">     
                        <!-- <button class="btn" style=" position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">Button</button> -->
                        <img src="/media/inhouse/play.png" width="5%" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);">   
                        <!-- <i class="fa-solid fa-circle-play" style="position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%); color: blue;"></i> -->
                    </div>
                    {% else %}
                    <img src="{{obj.file.url}}" alt="Girl in a jacket" width="100%" height="100%">
                    {% endif %}
                </div>
                
            </div>
        </div>
    </div>
</div>
<script>
    function myfunc(){
        playbutton=document.getElementById('playvideo')
        playbuttonopp=document.getElementById('playvideoopp')
        playbutton.style.display='block'
        playbuttonopp.style.display='none'
        playbutton.play()
    }
</script>
{% endblock content %}