{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{% endblock css %}

{% block content %}
<h1 style="text-align: center;margin-bottom: 30px;margin-top: 20px;">My Friends</h1>
<!-- <h1>{{obj|length}}</h1> -->
<div class="w3-container">
    <!-- <ul class="w3-ul w3-card-4 w-50 mx-auto"> -->
        {% if obj|length == 0 %}
            <p style="font-style: italic;text-align: center;">No Friends to show.</p>
        {% endif %}
        {% for item in obj %}
        <ul class="w3-ul w3-card-4 w-50 mx-auto" style="margin-bottom: 10px;">

          <li class="w3-bar">
              <!-- {% if item.id in FriendRequestList %}
                <span onclick="" class="btn btn-light w3-right" style="margin-top: 15px;">Friend Request sent</span>
              {% else %} -->
                <!-- <a href="?deleterequest={{item.id}}">
                <span onclick="this.parentElement.style.display='none'" class="btn btn-danger w3-right" style="margin-top: 15px;">Reject</span>
                </a>
                <a href="?acceptrequest={{item.id}}">
                  <span onclick="" class="btn btn-primary active w3-right" style="margin-right: 10px;margin-top: 15px ;">Accept</span>
                </a> -->
              <!-- {% endif %} -->
              <a href="?deletefriend={{item.id}}">
                <span onclick="this.parentElement.style.display='none'" class="btn btn-danger w3-right" style="margin-top: 15px;">Unfriend</span>
              </a>
              <!-- <span onclick="this.parentElement.style.display='none'" class="w3-bar-item w3-button w3-white w3-xlarge w3-right">×</span> -->

  
              <a href="/profile/{{item.id}}/">
                <img src="/media/inhouse/img_avatar2.png" class="w3-bar-item w3-circle w3-hide-small" style="width:85px">
              </a>
              <div class="w3-bar-item" onclick="location.href='/profile/{{item.id}}/';" style="cursor: pointer;" >
                <span class="w3-large">{{item}}</span><br>
                <span>{% if item.hide_email %}*************{% else %}{{item.email}}{% endif %}</span>
              </div>
          </li>
        </ul>
        {% endfor %}
    <!-- </ul> -->
  </div>

{% endblock content %}