{% extends "base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/password_reset.css' %}" />
{% endblock css %}

{% block content %}
<div class="excess">
    <h1>Password Reset</h1>
    <div class="container">
        <p>Forgot your password? Enter your email address below, and we'll email instructios for setting a new one.</p>
        <form method="post" class="w-50 mx-auto">
            {% csrf_token %}
            {{form}}
            <!-- <input type="submit" name="Send Email"> -->
            <button type="submit" class="passbtn">Send Email</button>
        </form>
    </div>
</div>
{% endblock content %}