{% extends "base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/password_reset_form.css' %}" />
{% endblock css %}

{% block content %}
<div class="excess">
    <h1>Enter new password</h1>
    <div class="container">
        <form method="post" class="w-50 mx-auto">
            {% csrf_token %}
            {{form}}
            <!-- <input type="submit" name="Update Password"> -->
            <button type="submit" class="passbtn">Update Password</button>
        </form>
    </div>
</div>
{% endblock content %}