{% extends "base.html" %}

{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/accounts/profile.css' %}" />
{% endblock css %}

{% block content %}
<!-- <h2 style="text-align:center">User Profile Card</h2> -->

<div class="cardi">
    {% if account.profile_pic %}
    <img src="{{account.profile_pic.url}}" alt="John" style="width:100%;height:300px;">
    {% else %}
    <img src="/media/inhouse/courag.jpg" alt="John" style="width:100%;">
    {% endif %}
    <div class="info">
        <h1>{{account.username}}</h1>
        <p class="title">
        {% if is_self %}
        {{account.email}}
        {% else %}
            {% if account.hide_email %}
                *************
            {% else %}
                {{account.email}}
            {% endif %}
        {% endif %}
        </p>
    </div>
    <!-- <p>Harvard University</p> -->
    <!-- <br><br><br><br><br><br> -->
    {% if is_self %}
    <a href="/profile/{{request.user.id}}/update"><button class="updbtn">Update</button></a>
    {% else %}
    <button class="updbtn">Add Friend</button>
    {% endif %}
  </div>



{% endblock %}